body{
  background-color: #AFD4E0;
}

.grid-container {
  display: grid;
  background-color: #AFD4E0;
  padding: 5%;
  grid-column-gap: 50px;
  grid-template-areas: 'menu main right';
}
.grid-container1 {
  display: grid;
  background-color: #E0BAC4;
  padding: 10%;
}
.grid-container2 {
  display: grid;
  background-color: #99E0A2;
  padding: 10%;
}
.grid-container3 {
  display: grid;
  background-color: #E0B78D;
  padding: 10%;
}


.Garfield{
  grid-area: menu;
}
.Drilo{
  grid-area: main;
}
.Volador{
  grid-area: right;
}

p{
  font-size: large;
}

h1{
  text-align: center;
}

button{
  margin-left: 25%;
}

img{
  border-top-left-radius: 10%;
  padding-left: 5%;
}