.body{
    background-color: #f1e3c9;
}
.imagen{
    width: 300px;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5%;
    box-shadow: 0px 10px 20px;
    transition: 0.5s;
    min-width: 250px;
}
.imagen:hover{
    transform: scale(1.2);
}
.titulo{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin-top: 10px;
}